body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    background-image: url('Assets/background-image-3497025_1920.jpg');
    background-repeat: no-repeat;
    background-position:center top;
    color: rgba(143, 188, 190, 0.8);
}


@-webkit-keyframes filter-animation {
    0% {
        -webkit-filter: saturate(0);
    }
    50% {
        -webkit-filter: saturate(3);
    }
    100% {
        -webkit-filter: saturate(0);
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    font-family: url(https://fonts.googleapis.com/css?family=Inknut+Antiqua);
    font-family: 'Inknut Antiqua', serif;
}

.navbar-inverse {
    background-color: #5A1D1B;
}

.btn-default {
    background-color: transparent;
}

.footer {
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 0;
    bottom: 0px;
    font-size: larger;
    color:wheat;
}

.footerSword {
    background-image: url('Assets/if_Sword_2913105.svg');
    background-repeat: no-repeat;
    background-size:100%;
    image-orientation: 45deg;
}

.footerSword:hover {
    background-color: transparent;
}

.navButton {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 5px;
    margin-top: 5px;
}
.navButton:hover{
    filter: saturate(4);
}
    #navCharacter {
        background-image: url('Assets/knight.svg');
    }
#navItem {
    background-image: url('Assets/Bow_Arrow-512.png');
}
#navBag {
    background-image: url('Assets/bag.svg');
}
#navAbout {
    background-image: url('Assets/Minimalist_info_Icon.png');
    -webkit-filter: invert(1);
    filter: invert(1);
}
#navAbout:hover {
    background-color:cadetblue;
    border-radius: 50%;
    background-size: 100%;
}
.homePageButton {
    background-size: cover;
    border: none;
    height: 20em;
    width: 20em;
    border-radius: 50%;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.jumbotronAlt {
    padding-top: 20px;
    padding-bottom: 20px;
}

#character {
    background-image: url('Assets/knight.svg');
}
#item {
    background-image: url('Assets/Bow_Arrow-512.png');
}
#bag {
    background-image: url('Assets/bag.svg');
}
.homePageButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 0.3s;
    animation: 0.5s forwards ease-in-out;
    filter: hue-rotate(10deg);
}

#itemsButton{
   text-align: center;
}

.profile {
    background-size: cover;
    border: 2px white;
    height: 20em;
    width: 20em;
}

#imgPlaceholder {
    width:15em;
    height:15em;
    background-size: 75%;
    background-position: center;
    background-image: url('Assets/knight.svg');
    background-repeat: no-repeat;
}

.charButton {
    border-color: transparent;
}

.charContainer {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 1em;
    color: black;
    border-radius: 3%;
    flex-flow:row wrap;
    justify-content: space-around;
}

.charProfile {
    background-size: cover;
    border: 2px white;
    height: 25em;
    width: 25em;
    text-align: center;
    flex-grow:6;
}

.charProfile p{
    font-size: 2em;
}
#charLinks {
    text-align: center;
    display:inline-block;
    color: black;
}

#imgPlaceholder:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}
.actionLink {
    color: black;
}
#bagLink {
    width: 7em;
    height: 7em;
    background-size: 75%;
    background-position: center;
    background-image: url('Assets/bag.svg');
    background-repeat: no-repeat;
    color: transparent;
    border-radius: 50%;
    border-color: transparent;
}
#itemDelete {
    background-size: 75%;
    background-position: center;
    background-image: url('Assets/512px-Remove_sign_font_awesome.svg.png');
    background-repeat: no-repeat;
    color: transparent;
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    top: 25px;
    right: 10px;
}

#itemEdit {
    background-size: 60%;
    background-position: center;
    background-image: url('Assets/edit_btn_img.png');
    background-repeat: no-repeat;
    color: transparent;
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    top: 25px;
    right: 50px;
}

#createIcon {
    width: 15em;
    height: 15em;
    background-size: 75%;
    background-position: center;
    background-image: url('Assets/icons8-add-user-male-26.png');
    background-repeat: no-repeat;
    color: transparent;
}

.charJumbotron {
    background-image: url('Assets/dragon-slayer-145565_960_720.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    opacity:0.75;
}

#itemPanel {
    color: black;
    background-image: url('Assets/medieval_brick_texture_05_by_goodtextures.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#itemPanel table {
    background-color: rgba(197,192,163,0.4);
}
/*-----------------------------------------------------------------------------*/

.profile {
    text-align: center;
    width: 22em;
    height: 7em;
    transform: translate(0, 0);
    border-radius: 40% 5px 5px 50%;
    margin-left: 50px;
    margin-bottom: 50px;
}

@keyframes show-profile {
    0% {
        width: 0;
    }
}

.profile .photo, .profile .content {
    box-sizing: border-box;
}

.profile .photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fafafa;
    background-color: #fafafa;
    margin-left: -30px;
    margin-top: -4px;
    box-shadow: 0 0 0.5rem #babbbc;
    animation: rotate-photo 0.5s forwards ease-in-out;
}

@keyframes rotate-photo {
    100% {
        transform: rotate(-360deg);
    }
}

.profile .photo img {
    width: 100%;
}

.profile .content {
    padding: 10px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5% 0 0 5%;
}

    .profile .content::before {
        content: "";
        position: absolute;
        width: 218px;
        height: 150px;
        background-color: #e9f3e6;
        left: 40px;
        top: -20px;
        z-index: -1;
    }

    .profile .content .text {
        text-align: left;
        margin-top: 15px;
        margin-left: 80px;
        max-width: 165px;
    }

.itemText {
    text-align: left;
    margin-top: 0px;
    margin-left: 80px;
    max-width: 200px;
        
}
    .itemText h5 {
        max-width: 125px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .itemText h4 {
        max-width: 160px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 6px;
    }

        .profile .content .text h3, .profile .content .text h6 {
            font-weight: normal;
            margin: 3px 0;
            letter-spacing: 0.5px;
            white-space: nowrap;
        }

    .profile .content .btn-profile {
        background-color: rgb(170,187,204);
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0px;
        top: 0px;
        border-radius: 50%;
        z-index: 1;
        cursor: pointer;
        transition-duration: 0.3s;
        animation: rotate-photo 0.5s forwards ease-in-out;
    }

        .profile .content .btn-profile:hover {
            background-color: rgb(200,217,234);
        }

#crudPageButtons {
    background-color: rgba(235, 235, 235, 0.6);
}

    #crudPageButtons:hover {
        background-color: rgba(235, 235, 235, 0.8);
    }

.itemCard {
    background-color: rgb(233, 243, 230);
    width: 98px;
    height: 98px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 50%;
    z-index: -2;
}

#plusButton {
    background-image: url('Assets/plus sign.svg');
    width: 4em;
    height: 4em;
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    color: green;
    border-radius: 50%;
    border-color: transparent;
}

.form-horizontal {
    padding: 1em;
    border-radius: 5px;
    background: linear-gradient(rgb(234,244,231),rgb(171,188,205));
    width: 500px;
    background-position-x: center;
    margin: 0 auto;
    color: black;
}