@{
    ViewBag.Title = "About";
}
<h2>A little about us</h2>
<h4>We at What's In My Bag? love fantasy roleplaying games but in our own musings often found it difficult to keep 
    track of our character inventory. Every campaign has those moments where you go forever in between sessions or 
    you kid spits up on your character sheet and the DM doesn't believe that smudge is really the masterwork longbow 
    of +3 STR that you know it is. Thats where we come in...</h4>

<h4>
    Introducing <b>What's In My Bag?</b>! A brand new way to keep track of just how many Cure Moderates you really
    have. Our digital inventory management system will protect your character's hard earned treasures from vile
    spit up, spilt beer, or your spouse thinking its spam. Just login and you have access to all your character's
    inventory. 
</h4>
<h4>
    We also allow you to have multiple characters. Whether your eager self joined 5 bi-weekly campaigns or you have
    created too many recurring NPC's we've got you covered. So sign-up and have a go!
</h4>
