@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4" id="itemsButton">
        <h2>Characters</h2>
        <span><a class="btn btn-default homePageButton" id="character" href="@Url.Action("Index", "Character")"></a></span>
    </div>
    <div class="col-md-4" id="itemsButton">
        <h2>Items</h2>
        <span><a class="btn btn-default homePageButton" id="item" href="@Url.Action("Index", "Item")"></a></span>
    </div>
    <div class="col-md-4" id="itemsButton">
        <h2>Assign Item</h2>
        <span><a class="btn btn-default homePageButton" id="bag" href="@Url.Action("Create", "Backpack")"></a></span>
    </div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@*<div class="col-md-12">
        <h2>Coming Soon! </h2>
        <h4>What's In My Bag? 2.0</h4>
        <p>We're excited to bring you some new features to help you find paths and slay dragons. Unfortunately
        our DM has been on vacation and they aren't quite ready yet.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@