@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>What's In My Bag?</h1>
    <p class="lead">What's In My Bag? is a great way to maintain how many potions you have in that 
    bag of holding and protecting your characters' valuable treasures from smudges and spills.</p>
    @*<p><a href="http://localhost:53791/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-6" id="itemsButton">
        <h2>Characters</h2>
        @*<p>
            Go ahead and get started! Click here to start adding your characters so you can keep track of their stuff!
        </p>*@
        <span><a class="btn btn-default characterCreate" href="http://localhost:53791/Character/Create"></a></span>
    </div>
    <div class="col-md-6" id="itemsButton" >
        <h2>Items</h2>
        @*<p>What is an inventory managing app without items! Make some items! Go ahead just click below!!</p>*@
        <span ><a class="btn btn-default itemCreate"  href="http://localhost:53791/Item/Create" ></a></span>
    </div>
    
</div>
    <div class="col-md-6">
        <h2>Coming Soon! </h2>
        <h4>What's In My Bag? 2.0</h4>
        <p>We're excited to bring you some new features to help you find paths and slay dragons. Unfortunately 
        our DM has been on vacation and they aren't quite ready yet.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>